{% extends "layout.html" %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label(class_="form-label-sm") }}<br>
        {{ form.name(class_="form-control-sm",size=20) }}
        {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.email.label(class_="form-label-sm") }}<br>
        {{ form.email(class_="form-control-sm",size=20) }}
        {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p>
        {{ form.password.label(class_="form-label-sm") }}<br>
        {{ form.password(class_="form-control-sm",size=20) }}
        {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
    <p><input class="btn btn-primary" type="submit" value="Register"></p>
</form>
{% include "components/flash_messages.html" %}
{% endblock %}